h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
body {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
     display: block;
}

body {
     line-height: 1;
     font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
     width: 0;
}

:root {
     --index: calc(1vw + 1vh);
     --white: #fff;
     /* --transition: transform .75s cubic-bezier(0.075, 0.5, 0, 1); */
}

ol,
ul,
li {
     list-style: none;
}

blockquote,
q {
     quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
     content: "";
     content: none;
}

table {
     border-collapse: collapse;
     border-spacing: 0;
}

.wrapp-page {
     width: 100vw;
     background-color: #181818;
     overflow: hidden;
}


/* ------------------------------------------- Navbar */
.container-navbar {
     height: 119px;
     color: #fff;
     display: flex;
     margin: 0 auto;
     justify-content: space-around;
     align-items: center;
     letter-spacing: 0.2px;
     position: relative;
     padding: 15px 16px 14px 24px;
}



a {
     text-decoration: none;
     color: #fff;
}
.container-logo {
     width:206px; 
     height: 78px;
     display: flex;
     justify-content: center;
     align-items: center;
}


.logo {
     position: relative;
     top: -10px;
}



.container-menu {
     height: 44px;
     display: flex;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
}


.menu-list {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.menu-list__item { 
     display: flex;
     align-items: center;
     justify-content: center;
}

.menu-link {
     height: 24px;
     padding: 10px;
     margin:10px 10px;
}

.container-button {
     display: flex;
     align-items: center;
     justify-content: center;
}



.button__login {
     padding: 14px 49px;
     border: 1px solid #fff;
     box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
     background-color: #181818;
     font-size: 17px;
     font-weight: 500;
     line-height: 25px;
     text-align: center;
     color: #fff;
     cursor: pointer;
}
.wrapp-right-side {
     display: flex;
}

.container-burger-menu {
     display: none;
}

.container-burger-menu__list {
     display: none;
     align-items: flex-end;
     position: absolute;
     top: 105px;
     right: 10px;
     background-color: transparent;
}

.menu-burger-list {
     width: 90px;
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-end;
     align-items: flex-end;
     padding: 5px;
     display: flex;
}

.menu-burger__item {
     display: flex;
     justify-content: flex-end;
     padding:0;
}

.menu-burger-link {
     padding: 10px 15px;
}

.menu-button {
     z-index: 10;
     background-color: transparent;
     border: none;
}
.button-svg {
     width: calc(var(--index) * 5.5);
     height: calc(var(--index) * 4.4);
     z-index: -1;
}
.menu-button:hover~.container-burger-menu__list {
     display: flex;
}


/* ------------------------------------------- Adaptive container navbar  */
@media (max-width: 2560px) {
    
}
@media (max-width: 1440px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 992px) {
    
}
@media (max-width: 768px) {
     .container-navbar {
               justify-content: space-between;
          }
     .container-menu {
               display: none;
     }
     .container-burger-menu {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0px 0px 0px 16px;
     }

     
}   

@media (max-width: 486px) {

     .container-navbar {
               height: auto;
               flex-wrap: wrap;
          }
     .container-logo {
          width: 100%;
          height: 58px;
          display: flex;
          justify-content: center;
          align-items: center;
     }
     .logo svg {
          position: relative;
          left: 6px;
     }
     .menu-button {
               position: absolute;
               top: 10px;
               right: 0px;
               z-index: 10;
               background-color: transparent;
               border: none;
          }
     .container-button {
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          width: calc(100vw - 40px);
     }

     .container-burger-menu__list {
          top: 70px;
          right: 0px;
     }
}

@media (max-width: 425px) {
     .button__login {
               padding: calc(var(--index) * 1.5) calc(var(--index) * 5.5);
               font-size: calc(var(--index) * 2);
               line-height: calc(var(--index) * 2).5;
          }
}
@media (max-width: 375px) {
     
}
@media (max-width: 320px) {
     
     
}

/* ------------------------------------------- Content text */
.container-text {
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     align-self: stretch;
     color: #fff;
     padding: 50px 40px;

}

.container-text__headline {
     
     flex-wrap: wrap;
     display: flex;
     align-items: center;
     padding: 10px 50px;
}

.cool-phrase {
     color: #fff;
     text-align: center;
     font-size: calc(var(--index) * 4);
     font-style: normal;
     font-weight: 500;
     line-height: calc(var(--index) * 4.3);
     letter-spacing: 0.2px;
}

.container-text__sub-heading {
     margin-top: 17px;
     display: flex;
     padding: 10px;
     align-items: center;
}

.two-cool-phrase {
     color: #fff;
     text-align: center;
     font-size: calc(var(--index) * 1.1);
     font-style: normal;
     font-weight: 400;
     line-height: calc(var(--index) * 1.3);
     letter-spacing: 0.2px;
     padding: 0px 600px;
}
/* ----------------------------------------------- Adaptive content text */
@media (max-width: 2560px) {
     .container-text {
          padding: 50px 200px;

     }

     .two-cool-phrase {
          padding: 0px 300px;
     }
}
@media (max-width: 1440px) {
     .container-text {
               padding: 50px 250px;
     
          }
     .two-cool-phrase {
          padding: 0px 100px;
     }
}
@media (max-width: 1200px) {
     .container-text {
          padding: 50px 200px;

     }

     .two-cool-phrase {
          padding: 0px 100px;
     }
}
@media (max-width: 992px) {
     .container-text {
          padding: 50px 100px;

     }

     .two-cool-phrase {
          padding: 0px 50px;
     }   
}
@media (max-width: 767px) {
     .container-text {
               padding: 50px 50px;
     
          }
     
     .two-cool-phrase {
          padding: 0px 75px;
     }
}
@media (max-width: 425px) {
     .container-text {
          padding: 50px 40px;

     }

     .two-cool-phrase {
          padding: 0px 50px;
     }
}
@media (max-width: 375px) {}
@media (max-width: 321px) {
     .container-text {
               padding: 50px 20px;
     
          }
     
          .two-cool-phrase {
               padding: 0px 25px;
          }
}

/* ------------------------------------------------Button free and more*/
.container-buttons {
     display: flex;
     justify-content: center;
     align-items: center;
     align-self: stretch;
}

.container-buttons__free-button {
     display: flex;
     padding: 0;
     align-items: center;
     background-color: #4452FE;
     box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
     margin: 35px 35px 35px 0px;
     
}

.free {
     border: none;
     background: transparent;
     display: flex;
     padding: calc(var(--index) * 1.03) calc(var(--index) * 2.06);
     align-items: center;
     color: #fff;
     font-size: calc(var(--index) * 0.85);
     font-style: normal;
     font-weight: 500;
     line-height: calc(var(--index) * 1.3);
     letter-spacing: 0.2px;
     cursor: pointer;
}

.container-buttons__more-button {
     display: flex;
     padding: 0px;
     align-items: center;
     border: 1px solid #fff;
     box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
     margin: 35px 0px 35px 0px;
     
}

.more {
     display: flex;
     padding: calc(var(--index) * 1.03) calc(var(--index) * 2.06);
     align-items: center;
     font-size: calc(var(--index) * 0.85);
     font-style: normal;
     font-weight: 500;
     line-height: calc(var(--index) * 1.3);
     letter-spacing: 0.2px;
     color: #fff;
     background: transparent;
     border: none;
     cursor: pointer;
}


@media (max-width: 2560px) {
     
}
@media (max-width: 1440px) {}
@media (max-width: 1200px) {}
@media (max-width: 992px) {
     .free {
               padding: 15px 30px;
          }
     
     .more {
          padding: 15px 30px;
     }
}
@media (max-width: 769px) {
     
}
@media (max-width: 426px) {

     .container-buttons {
          flex-direction: column;
          flex-wrap: wrap;
     }
     .container-buttons__free-button {
          margin: 0px 0px 10px 0px;
     }
     .container-buttons__more-button {
          margin: 0;
     }
     .free {
          padding: 15px 40px;
     }
     
     .more {
          padding: 15px 40px;
      }
}
@media (max-width: 375px) {}
@media (max-width: 320px) {}
/* -------------------------------------------- Boards img */

.container-boards {
     margin: 25px 0px 0px 0px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: calc(var(--index) * 48.35);
     flex-shrink: 0;
}

.container-rotate {
     position: relative;
     display: flex;
     flex-shrink: 0;
     padding: 0px;
}

.boards {
     width: calc(var(--index) * 29.47);
     height: calc(var(--index) * 27.55);
     flex-shrink: 0;
     background: url(img/charts1.png), no-repeat;
     background-size: calc(var(--index) * 29.47) calc(var(--index) * 27.55);
     position: absolute;
     top: calc(var(--index) * 14.73);
     left: calc(var(--index) * -1.44);
}

.chat-bot {
     width: calc(var(--index) * 29.47);
     height: calc(var(--index) * 28.69);
     flex-shrink: 0;
     background: url(img/charts2.png), no-repeat;
     background-size: calc(var(--index) * 29.47) calc(var(--index) * 28.69);
     position: relative;
     top: calc(var(--index) * 13.54);
     right: calc(var(--index) * 1.45);
     rotate: 1deg;
}

.dashboard {
     width: calc(var(--index) * 29.42);
     height: calc(var(--index) * 27.55);
     flex-shrink: 0;
     background: url(img/charts3.png), no-repeat;
     background-size:calc(var(--index) * 29.42) calc(var(--index) * 27.55);
     position: relative;
     top: calc(var(--index) * 0);
     left: calc(var(--index) * 13);

}

.gradient {
     width: 100vw;
     height: calc(var(--index) * 28.4);
     flex-shrink: 0;
     background-image: linear-gradient(180deg, 
     rgba(0, 0, 0, 0.00) 0%,#0E0E0E 66.15%);
     position: relative;
     top: calc(var(--index) * -7.73);
}


@media (max-width: 2560px) {

}
@media (max-width: 1440px) {
}
@media (max-width: 1200px) {}
@media (max-width: 992px) {}
@media (max-width: 767px) {}
@media (max-width: 425px) {}
@media (max-width: 375px) {}
@media (max-width: 320px) {}

/* ----------------------------------------- Feature block */


.container-feature {
     position: relative;
     top: 0;
     display: flex;
     padding: 62px 50px;
     flex-direction: column;
     align-items: flex-start;
     align-self: stretch;
     background-color: #181818;
     margin-top: 200px;
}

.content-feature {
     display: flex;
     flex-direction: column;
     align-items: center;
     align-self: stretch;
}
.content-feature__text-content {
     display: flex;
     width: calc(var(--index) * 30.92);
     flex-direction: column;
     align-items: center;
     margin: 0px 0px 80px 0px;
     
}

.article {
     color: #fff;
     font-size: calc(var(--index) * 2.68);
     font-style: normal;
     font-weight: 400;
     line-height: calc(var(--index) * 3,19);
     letter-spacing: 0.2px;
     margin: 0px 0px 27px 0px;
}

.content-feature__text-content span {
     color: #fff;
     text-align: center;
     font-size: calc(var(--index) * 1.03);
     font-style: normal;
     font-weight: 400;
     line-height: calc(var(--index) * 1.54);
     letter-spacing: 0.2px;
     padding: 0px 10px;
     margin: 0px;
}

.content-feature__main {
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 0px 15px;

}

.main-wrapp {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: flex-start;
}

.photo-wrapp {
     display: flex;
     align-items: flex-start;
     position: relative;
     margin: 0px 27px 0px 0px;
}

.chat-bot2 {
     padding: 0px;
     margin: 0px;
     width: calc(var(--index) * 36.9);
     height: calc(var(--index) * 37.06);
     flex-shrink: 0;
     position: relative;
     top: 0;
     left: 0;
     background-image: url(img/feauture1.png);
     background-size: calc(var(--index) * 36.9) calc(var(--index) * 37.06);
     background-repeat: no-repeat;
}

.line-chart {
     width: calc(var(--index) * 20.61);
     height: calc(var(--index) * 14.22);
     flex-shrink: 0;
     position: absolute;
     bottom: calc(var(--index) * 1.44);
     right: calc(var(--index) * 1.28);
     background-image: url(img/feature2.png);
     background-size:calc(var(--index) * 20.61) calc(var(--index) * 14.22);
     background-repeat: no-repeat;
     box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}

.content-wrapp {
     display: flex;
     padding: 20px;
     flex-direction: column;
     align-items: flex-end;
     margin-top: 100px;

}

.text-block {
     display: flex;
     width: calc(var(--index) * 13.86);
     flex-wrap: wrap;
     flex-direction: column;
     align-items: flex-start;
     margin: 0px 0px 25px 0px;
}

.title-block {
     display: flex;
     align-items: flex-start;
}
.svg1 {
     width: calc(var(--index) * 1.31);
     height: calc(var(--index) * 1.21);
}

.svg2 {
     width: calc(var(--index) * 1.49);
     height: calc(var(--index) * 1.54);
}
.svg3 {
     width: calc(var(--index) * 2.11);
     height: calc(var(--index) * .97);
}

.text-block h5 {
     position: relative;
     top: -10px;
     display: flex;
     align-items: center;
     color: #fff;
     padding: 10px;
     font-size: calc(var(--index) * 1.03);
     font-style: normal;
     font-weight: 500;
     line-height: calc(var(--index) * 1.54);
     letter-spacing: 0.1px;
}

.text-block span {
     position: relative;
     top: -10px;
     display: flex;
     padding: 10px;
     align-items: center;
     color: #FFF;
     font-size: calc(var(--index) * .82);
     font-style: normal;
     font-weight: 400;
     line-height: calc(var(--index) * 1.23);
     letter-spacing: 0.2px;
}




/* ---------------------------------------- fautures adaptive  */
@media (max-width: 2560px) {
     
}
@media (max-width: 1440px) {}
@media (max-width: 1200px) {
     .content-wrapp {
               width: 100%;
               justify-content: center;
               align-items: center;
               margin-top: 27px;
     
          }
     .photo-wrapp {
               margin: 0;
          }
}
@media (max-width: 992px) {
}
@media (max-width: 769px) {
}
@media (max-width: 425px) {}
@media (max-width: 375px) {}
@media (max-width: 320px) {}
/* -------------------------------------Contents block */

.container-contents {
     display: flex;
     padding: 50px 199px;
     flex-direction: column;
     align-items: center;
     align-self: stretch;
     margin: 100px 0px 0px;
}

.content-contents {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.content-contents__text-content {
     width: calc(var(--index) * 29.89);
     color: #fff;
     text-align: center;
     font-size: calc(var(--index) * 1.03);
     font-style: normal;
     font-weight: 400;
     line-height: calc(var(--index) * 1.54);
     letter-spacing: 0.2px;
     padding: 10px;
     margin: 0px;
}
.article1 {
     color: #fff;
     font-size: calc(var(--index) * 2.68);
     font-style: normal;
     font-weight: 400;
     line-height: calc(var(--index) * 3.19);/* 62px */
     letter-spacing: 0.2px;
     padding: 10px;
}

.text-content {
     color: #fff;
     text-align: center;
     font-size: calc(var(--index) * 1.03);
     font-style: normal;
     font-weight: 400;
     line-height: calc(var(--index) * 1.54);
     letter-spacing: 0.2px;
     padding: 10px;
     margin: 0px;
}

.text-content span{
     color:#FFF;
     text-align: center;
     font-size: calc(var(--index) * 1.03);
     font-style: normal;
     font-weight: 400;
     line-height: calc(var(--index) * 1.54);
     letter-spacing: 0.2px;
     padding: 10px;
}
.content-contents__cards {
     display: flex;
     align-items: center;
     margin: 44px 0px 0px 0px;
}

.card {
     display: flex;
     width: calc(var(--index) *  24.53);
     padding: calc(var(--index) * 2.061) 0px;
     flex-direction: column;
     align-items: center;
     border-radius: calc(var(--index) * 0.52);
     border: 1px solid #D3D3D3;
     background-color: #FFF;
     box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}

.card-margin {
     margin: 0px 33px 0px 0px;
}

.card-aligment {
     padding: calc(var(--index) * 2.25) 0px;
}

.card__head {
     display: flex;
     flex-direction: column;
     align-items: center;

}
.card__head h5 {
     display: flex;
     padding: calc(var(--index) * 0.51);
     align-items: center;
     color: #000;
     text-align: center;
     font-size: calc(var(--index) * 1.03);
     font-style: normal;
     font-weight: 500;
     line-height: calc(var(--index) * 1.54);
     letter-spacing: 0.1px;
}

.card__head span {
     display: flex;
     padding: calc(var(--index) * 0.51) calc(var(--index) * 3.60);
     margin: calc(var(--index) * 0.51) 0px 0px;
     align-items: center;
     color: #5C5C5C;
     text-align: center;
     font-size: calc(var(--index) * 0.82);
     font-style: normal;
     font-weight: 400;
     line-height: calc(var(--index) * 1.25);
     letter-spacing: 0.2px;
}
.sing-up {
     display: flex;
     height: calc(var(--index) * 2.68);
     padding: calc(var(--index) * 1.03) calc(var(--index) * 1.85);
     margin: calc(var(--index) * 2.93) 0px;
     align-items: center;
     background: #4452FE;
     box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
     border: none;
}
.sing-up span {
     color: #FFF;
     font-size: calc(var(--index) * 0.87);
     font-style: normal;
     font-weight: 500;
     line-height: calc(var(--index) * 1.28);
     letter-spacing: 0.2px;
}

.screen-block {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.screen-block__background {
     display: flex;
     align-items: center;
     justify-content: center;
     width: calc(var(--index) * 17.04);
     height:calc(var(--index) * 11.46);
     flex-shrink: 0;
     border-radius: 4.564px 4.564px 0px 0px;
     border: 1.521px solid #9FA2A5;
     background: #000;
}
.screen-mask {
     width: calc(var(--index) * 16.23);
     height: calc(var(--index) * 10.15);
     flex-shrink: 0;
     background-image: url(img/contents1.png);
     background-size: calc(var(--index) * 16.23) calc(var(--index) * 10.15);
}

.screen-block_base {
     position: relative;
     top: calc(var(--index) * -0.51);
     display: flex;
     justify-content: center;
     align-items: center;
     width: calc(var(--index) * 20.88);
     height: 8.5px;
     flex-shrink: 0;
     fill:#D8D8D8;
}

.grip {
     position: absolute;
     top: calc(var(--index) * -0.405);
     width: calc(var(--index) * 2.79);
     height: calc(var(--index) * 0.25);
     flex-shrink: 0;
     fill: #9FA2A5;
}

.base_bottom {
     position: absolute;
     top: -1px;
     left: 0.5;
     width: calc(var(--index) * 20.88);
     height:8px;
     color: #9FA2A5;
     flex-shrink: 0;
}

.try-for-free {
     display: flex;
     height: calc(var(--index) * 2.68);
     padding: calc(var(--index) * 1.03) calc(var(--index) * 1.85);
     margin: calc(var(--index) * 1.54) 0px;
     align-items: center;
     background: #4452FE;
     box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
     border: none;
}
.try-for-free span {
     color: #FFF;
     font-size: calc(var(--index) * 0.87);
     font-style: normal;
     font-weight: 500;
     line-height: calc(var(--index) * 1.28);
     letter-spacing: 0.2px;
}

.board-notifications {
     width:calc(var(--index) * 19.53);
     height: calc(var(--index) * 14.22);
     border-radius: calc(var(--index) * 0.72);
     background-image: url(img/contents3.png);
     background-size: calc(var(--index) * 19.53) calc(var(--index) * 14.22);
     box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}

@media (max-width: 2560px) {
     
}
@media (max-width: 1440px) {}
@media (max-width: 1200px) {
     .content-contents__cards {
          flex-wrap: wrap;
          }
     .card {
         flex-wrap: wrap;
         margin: 0px calc(var(--index) * 9.02);
         padding: calc(var(--index) * 3.061) calc(var(--index) * 5.15);
     }
     .card-aligment {
          margin-top: 33px;
     }

     .board-notifications {
          width: calc(var(--index) * 22.53);
          height: calc(var(--index) * 15.22);
          background-size: calc(var(--index) * 22.53) calc(var(--index) * 15.22);
     }
}
@media (max-width: 992px) {

     

     .screen-block_base {
               top: calc(var(--index) * -0.5);
          }
     
          .grip {
               top: calc(var(--index) * -0.6);
          }
     
          .base_bottom {
               top: calc(var(--index) * -0.19);
          }
     
}
@media (max-width: 769px) {
     .container-contents {
          padding: 50px 100px;
     } 
     .card {
          margin: calc(var(--index) * 3.36) calc(var(--index) * 8.02);
     }
     .card-aligment {
          margin-top: 33px;
     }
     .screen-block_base {
          top: calc(var(--index) * -0.5);
     }
     
     .grip {
          top: calc(var(--index) * -0.6);
     }
     
     .base_bottom {
          top: calc(var(--index) * -0.19);
     }
}

@media (max-width: 602px) {
     .screen-block_base {
          top: calc(var(--index) * -0.5);
     }

     .grip {
          top: calc(var(--index) * -0.6);
     }

     .base_bottom {
          top: calc(var(--index) * -0.2);
     }
}

@media (max-width: 426px) {
     /* .card {
          padding: calc(var(--index) * 3.36) calc(var(--index) * 3.06);
     } */

     .screen-block_base {
               top: calc(var(--index) * -0.5);
          }
     
          .grip {
               top: calc(var(--index) * -0.7);
          }
     
          .base_bottom {
               top: calc(var(--index) * -0.35);
          }
}
@media (max-width: 376px) {
     .card {
               flex-wrap: wrap;
               margin: 0px 50px 0px 50px;
     }
     .card-aligment {
          margin-top: 33px;
     }
     .screen-block_base {
               top: calc(var(--index) * -0.5);
          }
     
          .grip {
               top: calc(var(--index) * -0.6);
          }
     
          .base_bottom {
               top: calc(var(--index) * -0.3);
          }
}
@media (max-width: 321px) {
     .screen-block_base {
          top: calc(var(--index) * -0.55);
     }
     
     .grip {
          top: calc(var(--index) * -0.8);
     }
     
     .base_bottom {
          top: calc(var(--index) * -0.5);
     }
}

/* ---------------------------------- Gallery block*/

.container-gallery {
     margin: calc(var(--index) * 5.16) 0px 0px 0px;
     display: flex;
     padding: calc(var(--index) * 2.57) calc(var(--index) * 10.25);
     flex-direction: column;
     align-items: center;
     align-self: stretch;
     background-color: #181818;
}

.content-gallery {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.cards-firs-row {
     display: flex;
     align-items: center;
     margin: 44px 0px 0px 0px;
}

.cards-firs-row__rectangle1 {
     width: calc(var(--index) * 11.99);
     height: calc(var(--index) * 15.187);
     background: url(img/first-rectangle1.png), no-repeat;
     background-size: calc(var(--index) * 11.99) calc(var(--index) * 15.187);
     margin: 0px calc(var(--index) * 1.7585) 0px 0px;
     border-radius: 10px;
}

.cards-firs-row__rectangle2 {
     width: calc(var(--index) * 11.99);
     height: calc(var(--index) * 15.187);
     background: url(img/first-rectangle2.png), no-repeat;
     background-size: calc(var(--index) * 11.99) calc(var(--index) * 15.187);
     margin: 0px calc(var(--index) * 1.7585) 0px 0px;
     border-radius: 10px;
}

.cards-firs-row__rectangle3 {
     width: calc(var(--index) * 11.99);
     height: calc(var(--index) * 15.187);
     background: url(img/first-rectangle3.png), no-repeat;
     background-size: calc(var(--index) * 11.99) calc(var(--index) * 15.187);
     margin: 0px calc(var(--index) * 1.7585) 0px 0px;
     border-radius: 10px;
}

.cards-firs-row__rectangle4 {
     width: calc(var(--index) * 11.99);
     height: calc(var(--index) * 15.187);
     background: url(img/first-rectangle4.png), no-repeat;
     background-size: calc(var(--index) * 11.99) calc(var(--index) * 15.187);
     border-radius: 10px;
}

.cards-second-row {
     display: flex;
     align-items: center;
     margin: 44px 0px 44px 0px;
}

.cards-second-row__rectangle1 {
     width: calc(var(--index) * 20.36);
     height: calc(var(--index) * 15.187);
     background: url(img/second-rectangle1.png), no-repeat;
     background-size: calc(var(--index) * 20.36)  calc(var(--index) * 15.187);
     border-radius: 10px;
     margin: 0px calc(var(--index) * 1.7585) 0px 0px;
}

.cards-second-row__rectangle2 {
     width: calc(var(--index) * 11.99);
     height: calc(var(--index) * 15.187);
     background: url(img/second-rectangle2.png), no-repeat;
     background-size: calc(var(--index) * 11.99)  calc(var(--index) * 15.187);
     border-radius: 10px;
     margin: 0px calc(var(--index) * 1.7585) 0px 0px;
}

.cards-second-row__rectangle3 {
     width: calc(var(--index) * 20.36);
     height: calc(var(--index) * 15.187);
     background: url(img/second-rectangle3.png), no-repeat;
     background-size: calc(var(--index) * 20.36) calc(var(--index) * 15.187);
     border-radius: 10px;
}

.button {
     background: transparent;
     display: flex;
     height: 52px;
     padding: 10px 30px;
     margin: 0px;
     align-items: center;
     border: 1px solid #fff;
     box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}

.button span {
     display: flex;
     padding: 10px;
     align-items: center;
     color: #FFF;
     font-size: 17px;
     font-style: normal;
     font-weight: 500;
     line-height: 25px;
     letter-spacing: 0.2px;
}

@media (max-width: 2560px) {
    
}
@media (max-width: 1440px) {}
@media (max-width: 1200px) {}
@media (max-width: 992px) {}
@media (max-width: 769px) {

     .cards-firs-row {
               display: flex;
               align-items: center;
               justify-content: center;
               margin: calc(var(--index) * 3.69) 0px calc(var(--index) * 3.69) 0px;
               flex-wrap: wrap;
          }
     .cards-firs-row__rectangle1 {
          width: calc(var(--index) * 27.64);
          height: calc(var(--index) * 23.94);
          background: url(img/first-rectangle1.png), no-repeat;
          background-size: calc(var(--index) * 27.64) calc(var(--index) * 23.94);
          margin: 0px 0px 33px 0px;
     }
     
     .cards-firs-row__rectangle2 {
          width: calc(var(--index) * 27.64);
          height: calc(var(--index) * 23.94);
          background: url(img/mobile-rectangle2.png), no-repeat;
          background-size: calc(var(--index) * 27.64) calc(var(--index) * 23.94);
          margin: 0px 0px 33px 0px;
     }
     
     .cards-firs-row__rectangle3 {
          width: calc(var(--index) * 27.64);
          height: calc(var(--index) * 23.94);
          background: url(img/mobile-rectangle3.png), no-repeat;
          background-size: calc(var(--index) * 27.64) calc(var(--index) * 23.94);
          margin: 0px 0px 33px 0px;
     }
     
     .cards-firs-row__rectangle4 {
          width: calc(var(--index) * 27.64);
          height: calc(var(--index) * 23.94);
          background: url(img/mobile-rectangle4.png), no-repeat;
          background-size: calc(var(--index) * 27.64) calc(var(--index) * 23.94);
     }
     
     .cards-second-row {
          display: none;
     }

     .button {
          height: calc(var(--index) * 2.68);
          padding: calc(var(--index) * .84) calc(var(--index) * 2.52);
     }

     .button span {
          font-size: calc(var(--index) * 0.87);
          line-height: calc(var(--index) * 1.28);
     }
}
@media (max-width: 426px) {
     .button {
          height: calc(var(--index) * 3.68);
          padding: calc(var(--index) * .84) calc(var(--index) * 3.52);
     }
     
     .button span {
          font-size: calc(var(--index) * 1.2);
          line-height: calc(var(--index) * 1.4);
     }
}
@media (max-width: 375px) {}
@media (max-width: 320px) {}

/* -------------------------------------- Partners block */

.container-partners {
     display: flex;
     padding: 50px 20px;
     margin: 100px 0px 0px;
     flex-direction: column;
     align-items: center;
     align-self: stretch;
}

.container-brands {
     display: flex;
     align-items: center;
     margin: 50px 0px;
     padding: 0px 20px;
}

.brands_first-row {
     height: 70.5px;
     display: flex;
     align-items: center;
     margin: 0px 50px 0px 0px;
}

.brands_second-row {
     height: 70.5px;
     display: flex;
     align-items: center;
}

.brand-margin {
     margin: 0px calc(var(--index) * 2.57);
}

.brand-block1 {
     width: 60px;
     height: 60px;
}

.brand-block2 {
     width: 60px;
     height: 60px;
     margin: 0px calc(var(--index) * 2.57);
}

.brand-block3 {
     width: 60px;
     height:70.5px;
}

.brand-block4 {
     width:72px;
     height: 60px;
}

.brand-block5 {
     width: 60px;
     height: 64px;
     margin: 0px calc(var(--index) * 2.57);
}

.brand-block6 {
     width: 150px;
     height: 60px;
}

@media (max-width: 2560px) {
    
}
@media (max-width: 1440px) {}
@media (max-width: 1200px) {}
@media (max-width: 992px) {}
@media (max-width: 769px) {
     .container-brands {
          flex-wrap: wrap;
          justify-content: center;
          }

     .brands_first-row {
          width: calc(var(--index) * 30.6);
          margin: 0px 0px calc(var(--index) * 2.57) 0px;
          justify-content: space-around;
     }

     .brands_second-row {
          width: calc(var(--index) * 30.6);
          justify-content: space-around;
     }

     .brand-block1 {
          width: calc(var(--index) * 4.99);
          height: calc(var(--index) * 4.99);
     }

     .brand-block2 {
          width: calc(var(--index) * 4.99);
          height: calc(var(--index) * 4.99);
     }

     .brand-block3 {
          width: calc(var(--index) * 4.99);
          height: calc(var(--index) * 5.64);
     }

     .brand-block4 {
          width: calc(var(--index) * 5.99);
          height: calc(var(--index) * 4.99);
     }

     .brand-block5 {
          width: calc(var(--index) * 4.99);
          height: calc(var(--index) * 5.16);
     }

     .brand-block6 {
          width: calc(var(--index) * 12.09);
          height: calc(var(--index) * 4.99);
     }
}
@media (max-width: 426px) {
     .brand-block1 {
          width: calc(var(--index) * 5.85);
          height: calc(var(--index) * 4.85);
     }

     .brand-block2 {
          width: calc(var(--index) * 5.85);
          height: calc(var(--index) * 4.85);
     }

     .brand-block3 {
          width: calc(var(--index) * 5.85);
          height: calc(var(--index) * 5.67);
     }

}
@media (max-width: 376px) {
     .brand-block1 {
          width: calc(var(--index) * 5.85);
          height: calc(var(--index) * 4.85);
     }
     
     .brand-block2 {
          width: calc(var(--index) * 5.85);
          height: calc(var(--index) * 4.85);
     }
     
     .brand-block3 {
          width: calc(var(--index) * 5.85);
          height: calc(var(--index) * 5.67);
     }
     
          
}
@media (max-width: 321px) {
     .brand-block1 {
          width: calc(var(--index) * 6.85);
          height: calc(var(--index) * 4.85);
     }

     .brand-block2 {
          width: calc(var(--index) * 6.85);
          height: calc(var(--index) * 4.85);
     }

     .brand-block3 {
          width: calc(var(--index) * 6.85);
          height: calc(var(--index) * 5.67);
     }
}

/* ----------------------------- Testimonials block */

.container-testimonials {
     margin: calc(var(--index) * 5.15) 0px 0px 0px;
     display: flex;
     padding: 50px 20px;
     flex-direction: column;
     align-items: center;
     align-self: stretch;
}

.container__testimonials-cards {
     display: flex;
     align-items: flex-start;
     margin: 50px 0px 0px 0px;
}

.first-group {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0px 23px 0px 0px;
}

.second-group {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.margin-bottom {
     margin: 0px 0px 20px 0px;
}

.testimonial-card {
     display: flex;
     width: 350px;
     padding: 40px;
     flex-direction: column;
     align-items: flex-start;
     border-radius: 10px;
     border: 1px solid #DEDEDE;
}

.client {
     display: flex;
     align-items: center;
     margin: 0px 0px 30px 0px;
}

.avatar {
     display: flex;
     width: 50px;
     height: 50px;
     margin: 0px 13px 0px 0px;
     justify-content: center;
     align-items: center;
}

.avatar__photo1 {
     width: 50px;
     height: 50px;
     font-display: 0;
     border-radius: 50px;
     background-image: url(img/testimonials-avatar1.png);
     background-size: cover ;
     background-repeat: no-repeat;
}
.avatar__photo2 {
     width: 50px;
     height: 50px;
     font-display: 0;
     border-radius: 50px;
     background-image: url(img/testimonials-avatar3.png);
     background-size: cover;
     background-repeat: no-repeat;
}

.avatar__photo3 {
     width: 50px;
     height: 50px;
     font-display: 0;
     border-radius: 50px;
     background-image: url(img/testimonials-avatar2.png);
     background-size: cover;
     background-repeat: no-repeat;
}

.avatar__photo4 {
     width: 50px;
     height: 50px;
     font-display: 0;
     border-radius: 50px;
     background-image: url(img/testimonials-avatar4.png);
     background-size: cover;
     background-repeat: no-repeat;
}

.avatar-inform {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     color: #FFF;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 24px;
}

.full-name {
     letter-spacing: 0.2px;
}

.profession {
     letter-spacing: 0.2px;
}

.comment {
     display: flex;
     align-items: center;
     color: #fff;
}

.comment span {
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px;
     letter-spacing: 0.2px;
}


@media (max-width: 2560px) {
    
}
@media (max-width: 1440px) {}
@media (max-width: 1200px) {}
@media (max-width: 992px) {
     .container-testimonials {
          padding: calc(var(--index) * 2.57) calc(var(--index) * 1.03);
     }
     .first-group {
          margin: 0px 50px 0px 50px;
     }

     .second-group {
          margin: 0px 0px 0px 23px;
     }
     .container__testimonials-cards {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-wrap: wrap;
          margin: calc(var(--index) * 2.57) 0px 0px 0px;
     }
     
     .first-group {
          margin: 0px 0px 23px 0px;
     }
}
@media (max-width: 768px) {
     

     .testimonial-card {
          width: calc(var(--index) * 16.3);
          padding: calc(var(--index) * 3.06);
          border-radius: calc(var(--index) * .51);
     }

     .client {
          margin: 0px 0px calc(var(--index) * 1.54) 0px;
     }

     .avatar {
          width: calc(var(--index) * 2.57);
          height: calc(var(--index) * 2.57);
          margin: 0px calc(var(--index) * .67) 0px 0px;
     }

     .avatar__photo1 {
          width: calc(var(--index) * 2.57);
          height: calc(var(--index) * 2.57);
          border-radius: calc(var(--index) * 2.57);
     }

     .avatar__photo2 {
          width: calc(var(--index) * 2.57);
          height: calc(var(--index) * 2.57);
          border-radius: calc(var(--index) * 2.57);
     }
     .avatar__photo3 {
          width: calc(var(--index) * 2.57);
          height: calc(var(--index) * 2.57);
          border-radius: calc(var(--index) * 2.57);
     }

     .avatar__photo4 {
          width: calc(var(--index) * 2.57);
          height: calc(var(--index) * 2.57);
          border-radius: calc(var(--index) * 2.57);
     }

     .avatar-inform {
          font-size: calc(var(--index) * .82);
          line-height: calc(var(--index) * 1.23);
     }

     .comment span {
          font-size: calc(var(--index) * .82);
          line-height: calc(var(--index) * 1.23);
     }
}
@media (max-width: 640px) {
     .container__testimonials-cards {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          margin: calc(var(--index) * 2.57) 0px 0px 0px;
     }

     .second-group {
          margin: 0px 100px;
     }
}
@media (max-width: 426px) {
     .container__testimonials-cards {
          align-items:center;
     }
     .testimonial-card {
          width: calc(var(--index) * 20.3);
     }
     .second-group {
          margin: 0px 50px;
     }
}
@media (max-width: 376px) {}
@media (max-width: 321px) {}

/* -------------------------------- open Type block */

.container-open-type {
     display: flex;
     padding: 80px 0px;
     margin: 100px 0px 0px 0px;
     flex-direction: column;
     align-items: center;
     align-self: stretch;
}

.content-open-type {
     position: relative;
     display: flex;
     height: 370px;
     align-items: center;
     justify-content: space-between;
     border-radius: 33px;
     background: #343434;
}

.left-content {
     display: flex;
     width: calc(var(--index) * 28.04);
     padding: 17px 0px 17px 94px;
     flex-direction: column;
     align-items: flex-start;
     margin: 0px 86px 0px 0px;
}

.left-content h4 {
     display: flex;
     padding: 0px 10px;
     align-items: center;
     color: #FFF;
     font-size: 52px;
     font-style: normal;
     font-weight: 400;
     line-height: 62px;
     letter-spacing: 0.2px;
     margin: 0px 0px 37px 0px;
}

.open-type__button {
     display: flex;
     height: 52px;
     padding: 20px 36px;
     align-items: center;
     background: #4452FE;
     box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
     border: none;
     cursor: pointer;
}

.open-type__button span {
     padding: 10px 31px;
     color:#FFF;
     font-size: 17px;
     font-style: normal;
     font-weight: 500;
     line-height: 25px;
     letter-spacing: 0.2px;
}

.right-content {
     position: relative;
     bottom: -12px;
     width: 495px;
     height: 345px;
     background-image: url(img/open-type1.png);
     background-size: 495px 345px;
     border-bottom-right-radius: 33px;
}

@media (max-width: 2560px) {
     
}
@media (max-width: 1440px) {}
@media (max-width: 1200px) {
     .container-open-type {
          padding: calc(var(--index) * 4.12) 0px;
          margin: calc(var(--index) * 5.15) 0px 0px 0px;
     }

     .content-open-type {
          height: auto;
          align-items: center;
          justify-content: space-between;
          border-radius: calc(var(--index) * 1.7);
     }

     .left-content {
          padding: 
          calc(var(--index) * .87) 
          0px 
          calc(var(--index) * .87) 
          calc(var(--index) * 3.5);
          flex-direction: column;
          align-items: flex-start;
          margin: 0px calc(var(--index) * 4.43) 0px 0px;
     }

     .left-content h4 {
          padding: 0px calc(var(--index) * .54);
          font-size: calc(var(--index) * 2.68);
          line-height: calc(var(--index) *3.19);
          margin: 0px 0px calc(var(--index) * 1.5) 0px;
     }

     .open-type__button {
          height: calc(var(--index) * 2.68);
          padding: calc(var(--index) * 1.03) calc(var(--index) * 1.85);
     }

     .open-type__button span {
          padding: calc(var(--index) * 1.03) calc(var(--index) * 1.59);
          font-size: calc(var(--index) * .87);
          line-height: calc(var(--index) * 1.28);
     }

     .right-content {
          position: relative;
          bottom: calc(var(--index) * 0);
          width: calc(var(--index) * 25.88);
          height: calc(var(--index) * 19.38);
          background-image: url(img/open-type1.png);
          background-size: 
          calc(var(--index) * 26.88)
          calc(var(--index) * 20.38);
     }
}
@media (max-width: 992px) {
    
}
@media (max-width: 768px) {
     .container-open-type {
          background-color: #1E1E1E;
     }
     .content-open-type {
          height: auto;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          border-radius: 0px;
          background-color: transparent;
     }
     .left-content {
          padding: 0px;
          flex-direction: column;
          align-items: center;
          margin: 0px calc(var(--index) * 5.15) calc(var(--index) * 5.36);
     }

     .left-content h4 {
          margin: 0px 0px calc(var(--index) * 1.9) 0px;
     }

     .right-content {
          bottom: 0px;
          width: calc(var(--index) * 35.88);
          height: calc(var(--index) * 29.38);
          background-image: url(img/mobile-open-type1.png);
          background-size:
               calc(var(--index) * 37.88) 
               calc(var(--index) * 31.38);
          border-bottom-right-radius: 0px;
     }

}
@media (max-width: 426px) {}
@media (max-width: 376px) {}
@media (max-width: 320px) {}
/* ---------------------------------------------- Footer block */

.container-footer {
     margin: calc(var(--index) * 5.15) 0px 0px 0px;
     padding: calc(var(--index) * 5.51) 0px;
     display: flex;
     flex-direction: column;
     align-items: center;
     align-self: stretch;
}

.content-footer {
     display: flex;
     align-items: flex-start;
}

.first-row {
     display: flex;
     align-items: flex-start;
     margin: 0px calc(var(--index) * 10.25) 0px 0px;
}

.resources {
     margin: 0px 75px;
}

.form {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     color: #FFF;
}

.title {
     color: #FFF;
     font-size: calc(var(--index) * 1.0);
     font-style: normal;
     font-weight: 500;
     line-height: calc(var(--index) * 1.54);
     letter-spacing: 0.1px;
     margin: 0px 0px calc(var(--index) * 2.06) 0px;
}

.links {
     display: flex;
     width: calc(var(--index) * 6.23);
     flex-direction: column;
     align-items: flex-start;
}

.links a {
     color:#FFF;
     font-size: calc(var(--index) * .82);
     font-style: normal;
     font-weight: 500;
     line-height: calc(var(--index) * 1.23);
     letter-spacing: 0.2px;
     margin: 0px 0px calc(var(--index) * .97) 0px;
}



.second-row {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
}

.block-adress {
     display: flex;
     align-items: center;
     color: #fff;
     margin: 0px 0px calc(var(--index) * .51) 0px;
}

.adress {
     width: calc(var(--index) * 2.43);
     height: calc(var(--index) * 2.43);
}

.number {
     margin: 0px calc(var(--index) * .25) 0pc;
     width: calc(var(--index) * 1.85);
     height: calc(var(--index) * 1.85);
}

.twiter {
     width: calc(var(--index) * 3.2);
     height: calc(var(--index) * 3.2);
}

.facebook {
     width: calc(var(--index) * 3.0);
     height: calc(var(--index) * 3.0);
}

.linkedin {
     width: calc(var(--index) * 3.0);
     height: calc(var(--index) * 3.0);
}

.block-adress span {
     font-size: calc(var(--index) * .82);
     font-style: normal;
     font-weight: 500;
     line-height: calc(var(--index) * 1.23);
     letter-spacing: 0.2px;
}

.phone-number {
     padding: calc(var(--index) * .51);
}

.social-media {
     display: flex;
     padding: calc(var(--index) * 1.03) 0px;
     align-items: center;
}

.svg-margin {
     margin: 0px calc(var(--index) * 1.23) ;
}



@media (max-width: 2560px) {}
@media (max-width: 1440px) {}
@media (max-width: 1200px) {}
@media (max-width: 992px) {
     .container-footer {
          justify-content: center;
     }
     .content-footer {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
     }
     .first-row {
          justify-content: flex-start;
          flex-wrap: wrap;
          margin: 0px 100px 0px;
     }
     .fingertipe {
          margin: 0px 
          calc(var(--index) * 2.57) 
          calc(var(--index) * 3.86) 0px;
     }
     .resources {
          margin: 0px 
          calc(var(--index) * 2.57) 
          calc(var(--index) * 3.86) 0px;
     }
     .about {
          margin: 0px 
          calc(var(--index) * 2.57) 
          calc(var(--index) * 3.86) 0px;
     }

     .second-row {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin: 0px 100px 0px 100px;
     }
}
@media (max-width: 767px) {}
@media (max-width: 425px) {

     .content-footer {
          justify-content: center;
     }
     .first-row {
          justify-content: center;
          flex-wrap: wrap;
          margin: 0px calc(var(--index) * 5.15) 0px;
     }

     .fingertipe {
          margin: 0px 
          calc(var(--index) * 3.86)
          calc(var(--index) * 3.86) ;
     }
     .resources {
          margin: 0px 
          calc(var(--index) * 3.86)
          calc(var(--index) * 3.86) ;
     }
     .about {
          margin: 0px 
          calc(var(--index) * 3.86)
           calc(var(--index) * 3.86) ;
     }
}
@media (max-width: 375px) {}
@media (max-width: 320px) {
     
}

